{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #bfbfbf #595959;
}

body {
    color: #ffffff;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header#banner em a {
  color: #bfbfbf;
}
header#banner nav ul li a {
    color: #2fafff;
}
header#banner nav ul li a:visited {
    color: #feacd0;
}

main#content a {
    color: #2fafff;
}
main#content a:visited {
    color: #feacd0;
}

main#content header#post-header div {
    color: #bfbfbf;
}
footer#footer {
  color: #bfbfbf;
}
footer#footer a {
  color: #bfbfbf;
}
footer#footer a:visited {
  color: #bfbfbf;
}
pre.chroma:before {
  background-color: #000000;
  border: 1px solid #bfbfbf;
}
pre {
  border: 1px solid #bfbfbf;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
