{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}
html {
    scrollbar-color: #7c6f64 #3c3836;
}

body {
    color: #ebdbb2;
    background: #282828;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header#banner nav ul li a {
    color: #83a598;
}
header#banner nav ul li a:visited {
    color: #d3869b;
}

main#content a {
    color: #83a598;
}
main#content a:visited {
    color: #d3869b;
}

main#content header#post-header div {
    color: #a7a7a7;
}
pre.chroma:before {
  background-color: #282828;
  border: 1px solid #ebdbb2;
}
{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
